{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PICSL</title>
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" href="{% static 'firstapp/bulma.min.css' %}">
    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
            <div class="navbar-item">
                <img src="{% static 'firstapp/picsl-brand.svg' %}" height="28" width="112">
            </div>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <section class="section">
        <div class="columns">
            <main class="column is-two-thirds">
                {% block content %}{% endblock %}
            </main>
            <div class="column" id="sidebar">
                <nav class="panel">
                    <p class="panel-heading">
                        Sidebar
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Search">
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <div class="panel-block is-active">
                        
                        <span class="panel-icon">
                            <ion-icon name="image-outline" style="color:maroon"></ion-icon>
                        </span>

                        picsl : a personal photo-sharing website
                        
                    </div>
                </nav>
            </div>

        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>