{% extends "base.html" %}

{% block pagetitle %}Index{% endblock %}

{% block content %}
{% if latest_question_list %}
<ul>
	{% for question in latest_question_list %}
        <li>
            <a href="/firstapp/{{ question.id }}/">{{ question.text }}</a>
            <small>{{ question.pub_date }}</small>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
{% endblock %}