{% extends "base.html" %}

{% block pagetitle %}Question{% endblock %}

{% block content %}
<h2 class="title is-2">Question Page</h2>
<p>You are looking at the page for question {{ question.id }}</p>
<p><q>{{ question.text }}</q></p>
<p>Published: {{ question.pub_date }}</p>
{% endblock %}