{% extends "picsl_base.html" %}

{% block content %}

<main class="container">
    <div class="wrap-container">
        {% for image in images %}
        <div class="box">
            <div><img src="{{ image.image.url }}" style="max-width: 100%"></div>
            <div class="columns">
                <div class="column">
                    
                    <h2 class="title is-6">{{image.title}}</h2>
                    <div>{{image.description}}</div>
                </div>
                <div class="column has-text-right">
                    <div>Taken: <i class="is-italic">{{image.datetime_original}}</i></div>
                    <div>Uploaded: <i class="is-italic">{{image.date_loaded}}</i></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}