{% extends "picsl_base.html" %}
{% load static %}


{% block content %}

{% if image_loaded %}
<p>Image loaded successfully:</p>
<p>Title: {{image_title}}</p>
<p>Description: {{image_description}}</p>
{% endif %}

<form action="{% url 'picsl:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
        <label class="label" for="image">Select Image</label>
        <div class="control">
            <input class="input" id="image-select" accept="image/*" name="image" required="" type="file">
        </div>
        <div id="image-preview"></div>
    </div>
    <div class="field">
        <label class="label" for="title">Title</label>
        <div class="control">
            <input class="input" id="title-input" type="text" name="title" size="50" maxlength="50" minlength="1" />
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description</label>
        <div class="control">
            <input class="input" type="text" name="description" maxlength="280" />
        </div>
    </div>
    <div class="control">
        <button class="button" type="submit">Upload</button>
    </div>
</form>

<script src="{% static 'picsl/upload.js' %}"></script>

{% endblock %}