{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PICSL</title>
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" href="{% static 'picsl/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'picsl/style.css' %}">
    <meta name="theme-color" content="#fafafa">

</head>

<body>
    <nav class="nav-flex" role="navigation" aria-label="main navigation">
        <div class="item">
            <a href="{% url 'picsl:index' %}">
                <img src="{% static 'picsl/picsl-brand.svg' %}" height="28" width="112">
            </a>
        </div>

        <div class="item">
            <nav class="block">
                <a class="button is-primary" href="upload">Upload Pic</a>
            </nav>
        </div>
    </nav>


    <section class="section">
        {% block content %}{% endblock %}
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>