.nav-flex {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1.5rem;
}

.wrap-container {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.wrap-container .box {
    margin: 15px;
}
